In [19]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\thath\appdata\local\programs\python\python312\lib\site-packages (9.1.0)

In [20]:
!pip install --upgrade mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\thath\appdata\local\programs\python\python312\lib\site-packages (9.1.0)

In [23]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\thath\appdata\local\programs\python\python312\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pymysql as connector

In [26]:
connection = connector.connect(
    user="root",
    password="Bandara2002@",  # Make sure to set your actual password here
    port=3306,
    host="localhost",
    database="little_lemon"
)

In [31]:
cursor = connection.cursor()

In [32]:
show_tables_query = "SHOW TABLES"

In [33]:
cursor.execute(show_tables_query)

10

In [34]:
result = cursor.fetchall()

In [35]:
print(result)

(('bookings',), ('customer_details',), ('customerordersview',), ('menu',), ('menuitems',), ('menunamesview',), ('order delivery status',), ('orders',), ('ordersview',), ('staff information',))

In [38]:
query = """
SELECT 
    CONCAT(c.FirstName, ' ', c.LastName) AS FullName,
    c.Email,
    c.PhoneNumber,
    o.TotalCost
FROM 
    Customer_details AS c
INNER JOIN 
    Orders AS o
ON 
    c.CustomerID = o.CustomerID
WHERE 
    o.TotalCost > 60;
"""

In [39]:
cursor.execute(query)

0

In [40]:
results = cursor.fetchall()
for row in results:
    print(f"Name: {row[0]}, Email: {row[1]}, Phone: {row[2]}, Total Cost: {row[3]}")